apps/Android/local.properties
apps/Android/Medium-Phone-API-33-Android-13_2025-01-13_121009.logcat
apps/Android/.gradle/config.properties
apps/Android/.gradle/file-system.probe
apps/Android/.gradle/8.3/gc.properties
apps/Android/.gradle/8.3/checksums/md5-checksums.bin
apps/Android/.gradle/8.3/checksums/checksums.lock
apps/Android/.gradle/8.3/fileHashes/fileHashes.bin
apps/Android/.gradle/8.3/fileHashes/fileHashes.lock
apps/Android/.gradle/8.3/fileHashes/resourceHashesCache.bin
apps/Android/.gradle/8.7/gc.properties
apps/Android/.gradle/8.7/checksums/checksums.lock
apps/Android/.gradle/8.7/checksums/md5-checksums.bin
apps/Android/.gradle/8.7/checksums/sha1-checksums.bin
apps/Android/.gradle/8.7/dependencies-accessors/gc.properties
apps/Android/.gradle/8.7/executionHistory/executionHistory.bin
apps/Android/.gradle/8.7/executionHistory/executionHistory.lock
apps/Android/.gradle/8.7/fileChanges/last-build.bin
apps/Android/.gradle/8.7/fileHashes/fileHashes.bin
apps/Android/.gradle/8.7/fileHashes/fileHashes.lock
apps/Android/.gradle/8.7/fileHashes/resourceHashesCache.bin
apps/Android/.gradle/buildOutputCleanup/buildOutputCleanup.lock
apps/Android/.gradle/buildOutputCleanup/cache.properties
apps/Android/.gradle/buildOutputCleanup/outputFiles.bin
apps/Android/.gradle/vcs-1/gc.properties
apps/Android/.gradle/8.3/checksums/sha1-checksums.bin
apps/Android/.gradle/8.3/dependencies-accessors/dependencies-accessors.lock
apps/Android/.gradle/8.3/executionHistory/executionHistory.bin
apps/Android/.gradle/8.3/dependencies-accessors/gc.properties
apps/Android/.gradle/8.3/executionHistory/executionHistory.lock
apps/Android/.gradle/8.3/fileChanges/last-build.bin
apps/Android/.idea/deploymentTargetSelector.xml
apps/Android/.idea/kotlinc.xml
apps/Android/.idea/migrations.xml
apps/Android/.idea/other.xml
apps/Android/.idea/misc.xml
apps/Android/.idea/compiler.xml
apps/Android/.idea/gradle.xml
apps/Android/.idea/codeStyles/codeStyleConfig.xml
apps/Android/.idea/codeStyles/Project.xml
apps/Android/gradle/wrapper/gradle-wrapper.properties
apps/Android/gradle/wrapper/gradle-wrapper.jar
