<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:label="@string/app_name"
        android:appCategory="social"
        android:supportsRtl="true"
        android:theme="@style/Theme.Mimir"
        android:name=".App"
        tools:targetApi="31">

        <activity android:name=".MainActivity" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".ChatActivity" android:exported="false" android:parentActivityName=".MainActivity">
            <meta-data android:name="android.support.PARENT_ACTIVITY" android:value=".MainActivity" />
        </activity>

        <activity android:name=".AccountsActivity" android:exported="false" android:parentActivityName=".MainActivity">
            <meta-data android:name="android.support.PARENT_ACTIVITY" android:value=".MainActivity" />
        </activity>

        <activity android:name=".SettingsActivity" android:exported="false" android:parentActivityName=".MainActivity">
            <meta-data android:name="android.support.PARENT_ACTIVITY" android:value=".MainActivity" />
        </activity>

        <activity android:name=".ContactActivity" android:exported="false" />
        <activity android:name=".PictureActivity" android:exported="false" />

        <activity android:name=".UriHandlerActivity" android:exported="true" android:parentActivityName=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="mimir" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="https" />
                <data android:host="mm.yggdrasil.link" /><!-- Don't forget to change it in Utils.kt -->
            </intent-filter>
        </activity>

        <service android:name=".ConnectionService" android:enabled="true" android:exported="false" />

        <receiver android:name=".BootUpReceiver" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
    </application>

</manifest>